<!DOCTYPE html>
<html>
 {% block head %}
    <head>
        <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Celestial{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
       <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
        {% block stylesheets %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,700&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:500i&amp;display=swap">
    <!-- Swiper slider-->
    <link rel="stylesheet" href="{{ asset ('Front/vendor/swiper/swiper-bundle.min.css')}}">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{{ asset ('Front/css/style.violet.css')}}" id="theme-stylesheet">
    <!-- Custom stylesheet - for your changes-->
  <link rel="stylesheet" href="{{ asset ('Front/css/custom.css')}}">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{{ asset ('Front/img/logo.png')}}">
    <!-- FontAwesome CSS - loading as last, so it doesn't block rendering-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}


    </head>
     {% endblock %}
    <body class="scrollspy-example" data-bs-spy="scroll" data-bs-target="#navbar" data-bs-offset="0" tabindex="0">
     <header class="header">
      <nav class="navbar navbar-expand-lg navbar-dark position-absolute w-100" id="navbar">
        <div class="container"><a class="navbar-brand d-block d-lg-none" href="{{path('home')}}"><img src="{{ asset ('Front/img/logo.png')}}" alt="..." width="60"></a>
          <button class="navbar-toggler navbar-toggler-end" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span></span><span></span><span></span></button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item"><a class="nav-link" href="{{path('home')}}">Home </a></li>
               <li class="nav-item"><a class="nav-link" href="{{path('account')}}">Account</a></li>
              <li class="nav-item"><a class="nav-link" href="{{path('services')}}">Services</a></li>
              <li class="nav-item"><a class="nav-link" href="{{path('trips')}}">Trips</a></li>
            </ul>
            <ul class="navbar-nav d-none d-lg-block px-4">
              <li class="nav-item m-0"><a class="navbar-brand m-0" href="#!"><img src="{{ asset ('Front/img/logo.png')}}" alt="..." width="80"></a></li>
            </ul>
            <ul class="navbar-nav me-auto">
              <li class="nav-item"><a class="nav-link" href="{{path('reservation')}}">Reservation</a></li>
              <li class="nav-item"><a class="nav-link" href="{{path('equipement')}}">Equipement</a></li>
              <li class="nav-item"><a class="nav-link" href="{{path('blog')}}">Blog</a></li>
              <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
     <!-- Hero Slider -->
    <section class="text-center pt-lg-0 hero-home" id="hero">
      <div class="swiper hero-slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide hero-slide bg-cover py-5 with-border-image d-flex align-items-center" style="background: url(Front/img/bg.png)">
            <div class="container text-white py-5 my-5 index-forward">
              <h1 class="text-uppercase text-xl mt-5">Celestial</h1>
              <div class="row">
                <div class="col-lg-7 mx-auto">
                  <p class="lead">We will provid you with all you need for a safe and fun space traveling experiance</p><a class="btn btn-primary px-4" href="{{ path('home') }}">Sign up</a>
                </div>
              </div>
            </div>
          </div>

      </div>
    </section>
    
        {% block body %}{% endblock %}

          <!-- Scroll Top Button--><a class="scroll-top" href="#"><i class="fas fa-long-arrow-alt-up"></i></a>
          {% block footer %}
    <footer class="pt-5 text-white" style="background: #111">
      <div class="container pt-5">
        <div class="row mb-5 pb-5">
          <div class="col-md-4 col-sm-12"><img class="mb-3" src="{{ asset ('Front/img/logo.png')}}" alt="..." width="140">
            <p class="text-small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>

          <div class="col-md-4 col-sm-12">
            <h5 class="mb-4 mt-3">Upcoming Trips</h5>
            <ul class="list-unstyled">
              
          
              <li class="mb-2">
                <h6 class="mb-1"> <a class="reset-anchor text-primary" href="{{path('home')}}">Home</a></h6>
              </li>

              <li class="mb-2">
                <h6 class="mb-1"> <a class="reset-anchor text-primary" href="{{path('account')}}">Account</a></h6>
              </li>

              <li class="mb-2">
                <h6 class="mb-1"> <a class="reset-anchor text-primary" href="{{path('services')}}">Services</a></h6>
              </li>

              <li class="mb-2">
                <h6 class="mb-1"> <a class="reset-anchor text-primary" href="{{path('trips')}}">Trips</a></h6>
              </li>

              <li class="mb-2">
                <h6 class="mb-1"> <a class="reset-anchor text-primary" href="{{path('reservation')}}">Reservation</a></h6>
              </li>

              <li class="mb-2">
                <h6 class="mb-1"> <a class="reset-anchor text-primary" href="{{path('equipement')}}">Equipement</a></h6>
              </li>

               <li class="mb-2">
                <h6 class="mb-1"> <a class="reset-anchor text-primary" href="{{path('blog')}}">Blog</a></h6>
              </li>

               <li class="mb-2">
                <h6 class="mb-1"> <a class="reset-anchor text-primary" href="#contact">Contact</a></h6>
              </li>

            </ul>
          </div>

          <div class="col-md-4 col-sm-12">
            <h5 class="mb-4 mt-3">Newsletter</h5>
            <p class="text-small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <div class="input-group">
              <input class="form-control border-dark text-white rounded-0 bg-none" type="search" placeholder="Enter your email address" aria-label="email address" aria-describedby="button-addon2">
              <button class="btn btn-primary px-4" id="button-addon2" type="submit"><i class="fas fa-paper-plane"></i></button>
            </div>
          </div>
        </div>
        <div class="py-4 border-top border-dark text-center">
          <p class="mb-0 text-muted">Template designed by <a class="reset-anchor text-primary" href="https://bootstrapious.com/p/cathedral-bootstrap-church-charity-template">Bootstrap Temple</a>. </p>
          <!-- If you want to remove the backlink, please purchase the Attribution-Free License. See details in readme.txt or license.txt. Thanks!-->
        </div>
      </div>
    </footer>
    {% endblock %}
            {% block javascripts %}
            <script src="{{ asset ('Front/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
    <script src="{{ asset ('Front/vendor/swiper/swiper-bundle.min.js')}}"></script>
    <script src="{{ asset ('Front/js/countdown.js')}}"></script>
    <script src="{{ asset ('Front/vendor/progressbar.js/progressbar.js')}}"></script>
    <script src="{{ asset ('Front/js/front.js')}}"></script>
    <script>
      // ------------------------------------------------------- //
      //   Inject SVG Sprite - 
      //   see more here 
      //   https://css-tricks.com/ajaxing-svg-sprite/
      // ------------------------------------------------------ //
      function injectSvgSprite(path) {
      
          var ajax = new XMLHttpRequest();
          ajax.open("GET", path, true);
          ajax.send();
          ajax.onload = function(e) {
          var div = document.createElement("div");
          div.className = 'd-none';
          div.innerHTML = ajax.responseText;
          document.body.insertBefore(div, document.body.childNodes[0]);
          }
      }
      // this is set to BootstrapTemple website as you cannot 
      // inject local SVG sprite (using only 'icons/orion-svg-sprite.svg' path)
      // while using file:// protocol
      // pls don't forget to change to your domain :)
      injectSvgSprite('https://bootstraptemple.com/files/icons/orion-svg-sprite.svg'); 
      
    </script>
    
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </body>

</html>
