{% extends ('basefront/base.html.twig') %}
{% block body %}

     <!-- plant -->
      <div>
         <div class="container">
            <div class="row">
               <div class="col-md-12 ">
                  <div class="titlepage">
                     <h2><strong class="black"> Our</strong>  Equipement</h2>
                     <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
                  </div>
               </div>
            </div>
         </div>
      </div>

         <div>
          <div class="container">
            <div class="row">
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                  <div>
                     <figure><img src="{{ asset ('Front/img/equipement1.jpg')}}" alt="img" hight="200" width="200"/></figure>
                    <h3> $<strong>2250</strong></h3>
                     <h4>Lorem ipsum</h4>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 ">
                  <div>
                     <figure><img src="{{ asset ('Front/img/equipement2.jpg')}}" alt="img" hight="200" width="200"/></figure>
                    <h3> $<strong>5000</strong></h3>
                     <h4> Lorem ipsum </h4>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 ">
                  <div>
                     <figure><img src="{{ asset ('Front/img/equipement3.jpg')}}" alt="img" hight="200" width="200"/></figure>
                     <h3> $<strong>1250</strong></h3>
                     <h4>Lorem ipsum </h4>
                  </div>
               </div>
    
        
       
         
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                   <div>
                     <figure><img src="{{ asset ('Front/img/equipement1.jpg')}}" alt="img" hight="200" width="200"/></figure>
                    <h3> $<strong>2250</strong></h3>
                     <h4>Lorem ipsum</h4>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 ">
                  <div>
                     <figure><img src="{{ asset ('Front/img/equipement2.jpg')}}" alt="img" hight="200" width="200"/></figure>
                    <h3> $<strong>5000</strong></h3>
                     <h4> Lorem ipsum </h4>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 ">
                  <div>
                     <figure><img src="{{ asset ('Front/img/equipement3.jpg')}}" alt="img" hight="200" width="200"/></figure>
                     <h3> $<strong>1250</strong></h3>
                     <h4>Lorem ipsum </h4>
                  </div>

               </div>
             </div>
            </div>
           </div>
      </div>
      <!-- end plant -->
       {% endblock %}